<h2>Reactive Enrollment Form</h2>

<form
    [formGroup]="enrollForm"
    (ngSubmit)="onSubmit()">

    <label>Name</label>

    <br>

    <input formControlName="studentName">

    <br><br>

    <label>Email</label>

    <br>

    <input formControlName="studentEmail">

    <br>

    <span
        *ngIf="enrollForm.get('studentEmail')?.errors?.['emailTaken']">

        Email already taken

    </span>

    <br><br>

    <label>Course ID</label>

    <br>

    <input formControlName="courseId">

    <br>

    <span
        *ngIf="enrollForm.get('courseId')?.errors?.['noCourseCode']">

        Course code starting with XX is not allowed

    </span>

    <br><br>

    <label>Semester</label>

    <br>

    <select formControlName="preferredSemester">

        <option>Odd</option>

        <option>Even</option>

    </select>

    <br><br>

    <input
        type="checkbox"
        formControlName="agreeToTerms">

    Agree to Terms

    <br><br>

    <h3>Additional Courses</h3>

    <button
        type="button"
        (click)="addCourse()">

        Add Another Course

    </button>

    <br><br>

    <div
        *ngFor="let ctrl of additionalCourses.controls; let i=index">

        <input [formControl]="getCourseControl(i)">

        <button
            type="button"
            (click)="removeCourse(i)">

            Remove

        </button>

        <br><br>

    </div>

    <button
        type="submit"
        [disabled]="enrollForm.invalid">

        Submit

    </button>

</form>